.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body {
  height: 80px;
}

/* Implement max width for product cards */

.card {
  max-width: 200px;
}

.image-container {
  position: relative;
}

.sold-out-card .card-img-top {
  opacity: 0.5;
}

.sold-out-text {
  color: #dc3545;
  font-weight: bold;
}
